assigns/Y2021_db/D211207Oraclexml/task002/q3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT university ((SECITON+))>
<!ELEMENT SECITON ((COURSE, STUDENT*))>
<!ELEMENT STUDENT ((Ssn, Name, Class, Grade))>
<!ELEMENT COURSE ((Course_number, Course_name))>
<!ELEMENT Ssn (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Grade (#PCDATA)>
<!ELEMENT Class (#PCDATA)>
<!ELEMENT Course_number (#PCDATA)>
<!ELEMENT Course_name (#PCDATA)>
<!ATTLIST SECITON
	Number CDATA #REQUIRED
	Qtr CDATA #REQUIRED
	Year CDATA #REQUIRED
>